server:
  port: 80
spring:
  application:
    name: app-order
  profiles:
    include: config

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://127.0.0.1:7001/eureka/