server:
  port: 8002
spring:
  application:
    name: app-payment
  profiles:
    include: config
#  servlet:
#    multipart:
#      max-file-size: 100MB
#      max-request-size: 100MB

mybatis-plus:
  mapper-locations: classpath*:com/bonc/**/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://127.0.0.1:7001/eureka/
  instance:
    instance-id: payment8002
    prefer-ip-address: true

