server:
  port: 7001
spring:
  application:
    name: eureka-server-7001

eureka:
  instance:
    hostname: eureka-server-7001
  client:
    register-with-eureka: false
    fetch-registry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/